# Images
*.ai
*.svg
*.psd

# Video
*.avi
*.webm
*.mkv
*.flv
*.ogv
*.ogg
*.wmv
*.mpg
*.mpeg
*.gif

# Audio
*.wav

# 3D Objects
*.gltf
*.obj
*.mtl

# Folders
**/.sass-cache
**/node_modules
**/vendor
**/.git
**/no-upload
**/production

# Files
bookmark.md
.env
config.js
hot
wp-config.php
db-connect.php
db-conn.php
dbc.php
.github/copilot-instructions.md
npm-debug.log*
*.map
notes.md
/src/components/index.php